<html>
<title>
  <%= title %>
</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
</head>
<style>
  body {
    background-image: url("/img/background/<%=background %>.jpg");
  }
</style>

<body>
  <% include layouts/navbar %>
    <!-- Container -->
    <div class="container">
      <h1>PAGE NOT FOUND</h1>
    </div>

</body>

</html>
